---
import Layout from '../layouts/Layout.astro';
import ProductPanel from '../components/ProductPanel.astro';
import laptopsData from '../data/data.json';

// Define PaneItem type in index.astro
interface PaneItem {
  href: string;
  svgPath: string;
  text: string;
  customClass: string;
}

const selectedConfigurations = [
  { config: laptopsData.hardware.macs[0].configurations[0], model: laptopsData.hardware.macs[0] },
  { config: laptopsData.hardware.macs[2].configurations[0], model: laptopsData.hardware.macs[2] },
  { config: laptopsData.hardware.macs[7].configurations[1], model: laptopsData.hardware.macs[7] }
];

const paneItemsdefault: PaneItem[] = [
  {
    href: '/mac',
    svgPath: '/icons/macbook_pro_icon.svg',
    text: 'Mac',
    customClass: 'macbook-pro-style',
  },
  {
    href: '/ipad',
    svgPath: '/icons/ipad_pro_icon.svg',
    text: 'iPad',
    customClass: 'ipad-pro-style',
  },
  {
    href: '/iphone',
    svgPath: '/icons/iphone_15_pro_icon.svg',
    text: 'iPhone',
    customClass: 'iphone-style',
  },
  {
    href: '/watch',
    svgPath: '/icons/watch_10_icon.svg',
    text: 'Watch',
    customClass: 'apple-watch-style',
  },
  {
    href: '/airpods',
    svgPath: '/icons/airpods_pro_icon.svg',
    text: 'AirPods',
    customClass: 'airpods-style',
  },
];
---

<Layout title="Welcome to Astro." paneItems={paneItemsdefault}>
  <main>
    <ul role="list" class="link-card-grid">
      {selectedConfigurations.map(({ config, model }, index) => (
        <li>
          <ProductPanel
            imageUrl={model.imageUrl}
            specs={config.specs}
            pricing={config.pricing}
          />
        </li>
      ))}
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 100%;
    max-width: 1200px;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
</style>